/* NOTE bracket "TODO, NOTE, FIXME, CHANGES i FUTURE."*/

/*//NOTE use prefixer at the end*/

/* TODO: [1] remeka link/href from locals to webs
    <a href="index.html">Home</a>
    to 
    http://kratak.pl/index.html  */

/*//TODO [X]make a colors visible from hexs*/

/* NOTE [x] use Xrem's [x=number ex. 3rem;]
html = 10 px;
heder = 3 rem(= 3x10px);*/

* {
	box-sizing: border-box;
}

/*basic for rem to px*/

html {
	font-size: 10px;
}


/*for firefox dotted line on buttons*/

a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: 0;
	outline: 0;
}

/* Style the body */

body {
	font-family: Arial;
	font-size: 1.2rem;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}



/* TODO [2] remeka img to 3 img like in note belov
swap to 3 imgs 1st HTML like 2nd like CSS
3rd like js
all of thew will go fil that will be updated recently
html.jpg css.jpg js.jpg or .png or .svg*/

/* Header/logo Title */

HEADER {
	background-image: url(img/ready/background_image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px;
	text-align: RIGHT;
	/*background: #1abc9c;*/
	color: rgba(0, 0, 0, 0.3);
	letter-spacing: 3px;
	line-height: 50%;
	font-size: 3rem;

}

/* Style the top navigation bar */

.navbar {
	display: flex;
	background-color: #8B4B21;
}

.navbar_sticky {
	display: flex;
	width: 100%;
	background-color: #8B4B21;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
}

/* Style the navigation bar links */

.navbar a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
}

/* menu button, main magic in @media belov*/

#hamburger {
	display: none;
}

/* Change color on hover */

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

/* Column container */

.row {
	display: flex;
	flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */

.side {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}


/* Main column */

.main {
	flex: 70%;
	background-color: white;
	padding: 20px;
}

/* Fake image, just for this example */

.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

/* Footer */

footer {
	padding: 20px;
	text-align: center;
	background: #ddd;

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of n@media (max-width: 700px) {
    .row, .navbar {   
        flex-direction: column;
    }
}ext to each other */

/*go to top button, look above for some hints about firefox dotet line at the button*/

#to_top_button {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 5px;
	font-size: 3rem;
	border: none;
	outline: none;
	background-color: dimgrey;
	color: black;
	transform: translateX(-50%);
	transform: translateY(-50%);
	border-radius: 4px;
	width: 35px;
	height: 35px;
	opacity: 0.8;
	text-align: center;
	Text-Decoration: None;

}

#to_top_button:hover {
	background-color: #555;
	opacity: 90%;
	Text-Decoration: None;
}

/*main magic*/

@media (max-width: 700px) {
	/*	more support for rem to px*/
	body {
		font-size: 1.4rem;
	}
	.row {
		flex-direction: column;
	}
	.navbar {
		flex-direction: column;
	}
	/*	completly different size on mobiles*/
	header {
		background-image: url(img/ready/background_image.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding: 60px 30px 60px 60px;
		text-align: RIGHT;
		/*background: #1abc9c;*/
		color: rgba(0, 0, 0, 0.9);
		letter-spacing: 1.5px;
		line-height: 40%;
		font-size: 2rem;

	}

	/*	//TODO [3] start to make hamburger button
	remeber display none or block*/
	/*	menu button on mobiles*/
	#hamburger {
		display: none;
		position: fixed;
		top: 10px;
		right: 10px;
		font-size: 2rems;
		border: none;
		outline: none;
		background-color: transparent;
		color: black;
		cursor: pointer;
		border-radius: 4px;
		width: 35px;
		text-align: center;
	}
	/*	here you have size of manu buttons on mobile*/
	.navbar a {
		color: white;
		padding: 8px 10px;
		text-decoration: none;
		text-align: center;
		font-size: 1.2rem;
	}
}
