/* Preloader  */

#preloader {
	display: none;
}

@media (min-width: 700px) {
	#preloader {
		background: #F2994A linear-gradient(to right, #8B4B21, #F7E674);
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;

		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity .35s ease;
	}

	.dot {
		width: 20px;
		height: 20px;
		margin: 0 10px;
		border: 4px solid #fff;
		border-radius: 50%;
		animation: show-hide 1s ease infinite;
	}

	.dot:nth-child(2) {
		animation-delay: 300ms;
	}

	.dot:nth-child(3) {
		animation-delay: 600ms;
	}

	@keyframes show-hide {
		0% {
			transform: scale(0);
		}

		50% {
			transform: scale(1);
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	/* Helpers */
	#preloader.preloader-hiding {
		opacity: 0;
	}

	#preloader.preloader-hidden {
		display: none;
	}
}
